@import url('https://fonts.googleapis.com/css?family=Titan One');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body {
	font-family: 'JetBrains Mono';
	color: #898989;
    background-color: #1e1e1e;
}
