
html {
	width: 90%;
	height: 100%;
	margin: auto;
}

body {
	background-color: #1e1e1e;
	color: #BEBEBE;
}

hr {
	border: 2px solid white;
	border-radius: 4px;
}

a {
	color: #BEBEBE;
}

.work-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	color: #BEBEBE;
}

.work-group {
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
}
